body {
  background-color: white;
}

button {
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px;
  background-color: darkslategray;
}

.input-task {
  padding: 5px;
  border-radius: 3px;
  background: #ece8e8;
  border: 1px solid #000000;
  width: 275px;
}

.input-task:hover {
  background: white;
  border: 1px solid #55a30d;
}

li {
  padding: 3px;
}

.colore-elemento-lista {
  background-color: #9fb7e6;
}

.completed {
  text-decoration: line-through solid white;
}

.lista-tarefas {
  background-color: #9dbcd4c2;
  border-radius: 15px;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.cabecalho {
  text-align: center;
}

.btn-adicionar {
  background-color: rgb(41, 143, 41);
}

